<%- include('includes/head'); %>

    <section class="container">
        <h1>
            <%= umaVariavelLocal %>
        </h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi perferendis iste earum autem
            mollitia qui vitae voluptatem ipsum quod soluta vero beatae praesentium, saepe quaerat? Impedit repudiandae
            eius dolores.
        </p>

        <form action="/" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="input-teste-1">Cliente</label>
            <input type="text" id="input-teste-1" name="cliente">

            <button>Enviar</button>
        </form>

    </section>

    <%- include('includes/footer'); %>